// footer

footer {
    padding: 35px 35px 35px 35px;

    p {
        font-size: 12px;
        color: white;
    }

    i {
        color: white;
    }

    background-color: $principale-color;
    display: flex;
    flex-direction: row;




    div {
        width: 40%;
        display: flex;
        flex-direction: column;



        .footer-contact {
            input {
                height: 30px;
                outline: none;
            }

            button {
                height: 30px;
                width: 100px;
                background-color: $button-color;
                color: white;
                border: none;
                outline: none;
                padding: 0px 10px;
            }
        }

        div {
            display: flex;
            flex-direction: row;


        }

    }

    .footer1-h,
    .footer2-h,
    .footer3-h {
        margin-bottom: 40px;
    }

    .footer-media {
        i {
            margin-right: 10px;
            font-size: 23px;

            &:hover {
                transform: scale(1.2);
                transition: 500ms;
                color: $button-color;
            }
        }
    }




}

@media only screen and (max-width: 600px) {
    footer {

        padding: 35px 40px 10px 35px;
        display: flex;
        flex-wrap: wrap;

        div {
            width: 100%;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;

        }

        .footer1-h,
        .footer2-h,
        .footer3-h {
            margin-bottom: 30px;
        }

        .footer1-h {
            margin-bottom: 20px;
        }

        .footer1 {
            transform: translateX(-5%);

        }

        .phone {
            transform: translateY(0px);
        }


    }

}