* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}




header {
	
	
	width: 100%;
	margin: auto;
	padding: .9rem;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
	background-color: $color4;
}
.logo {
	color: $color1;
	margin-left: 8%;
	font-size: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	h6{
		text-align: center;
		span{
			color: $color3;
		}
	}
	img{
        width: 55px;
        height: 55px;
		margin-left: 17%;
		
		
    }

}
nav {
    margin-right: 8%;
	font-size: 18px;
	ul {
		display: flex;
		li {
			list-style: none;
			a {
				display: block;
				margin: .6rem 0;
				padding: .6rem 1.25rem;
				text-decoration: none;
				color: $color1;
				&:hover {
					
					color: $color3;
					transition: .5s;
				}
			}
			a.active {
				
				color: $color3;
				transition: .5s;
			}
		}
	}
}
@media (max-width:1200px) {
	
}
@media (max-width:810px) {
	header {
		position: relative;
		background-color: $color4;
		width: 100%;
	}
	.menu-toggle {
		position: absolute;
		right: 5%;
		display: block;
		width: 2.5rem;
		height: 2.5rem;
		margin: .6rem;
		cursor: pointer;
		text-align: center;
		font-size: 1.2rem;
		color: $color2;
		
		&::before {
			content: '\f0c9';
			font-family: fontAwesome;
			line-height: 2.6rem;
			font-size: 1.6rem;
		}
	}
	.menu-toggle.active {
		&::before {
			content: '\f00d';
			font-size: 1.6rem;
		}
	}
	nav {
		display: none;
		ul {
			li {
				a {
					margin: 0;
					color: $color2;
				}
			}
		}
	}
	nav.active {
		display: flex;
		flex-direction: column;
		width: 100%;
		ul {
			display: block;
			position: absolute;
			top: 115px;
			left: 0;
			width: 100%;
			color: $color2;
			text-align: center;
			background-color: $color1;
		}
	}
}