$color1:#F8F1F1;
$color2:#42495B;
$color3:#EB5E0B;
$color4:#5EAAA8;
$color5:#A3D2CA;



$principale-color:#5EAAA8;
$button-color:#EB5E0B;
$hover-color:#A3D2CA;
$text-color:#42495B;
$backrgound-color:#F8F1F1;
$margin-bottom:60px;